body{
    /*height: 100vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;*/

    /* Shorthand Background 
        color > image > position> repeat > [size] > attachment    
    */

    background: black url(imagens/wallpaper002.jpg) center no-repeat fixed;
    background-size: cover;
}

main{
    background-color: skyblue;
    max-width: 500px;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}